<nav class="flex justify-between items-center bg-lime-300 p-4">
    <ul class="flex items-center space-x-6">
      <li>
        <img src="assets/Logo.png" class="w-12" alt="Logo" />
      </li>
      <li><a href="/accueil" class="text-black font-bold hover:text-green-900">ACCUEIL</a></li>
      <li><a href="#" class="text-black font-bold hover:text-green-900">STORE</a></li>
      <li><a href="ressources" class="text-black font-bold hover:text-green-900">RESSOURCES</a></li>
      <li><a href="stock" class="text-black font-bold hover:text-green-900">PRODUITS</a></li>
    </ul>
    <a href="#" class="bg-green-600 text-white font-bold px-4 py-2 rounded transform transition-transform duration-200 hover:scale-105">      
      <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="Login Icon" class="w-5 h-5">
    </a>
</nav>
    
