<nav class="flex justify-between items-center bg-lime-500 p-4">
  <ul class="flex items-center space-x-6">
    <li><img src="assets/Logo.png" class="w-12" alt="Logo" /></li>
    <li><a routerLink="/accueil" class="text-black font-bold px-6 py-2 rounded-full hover:bg-lime-600 transition-all hover:text-white">ACCUEIL</a></li>
    <li><a routerLink="/#" class="text-black font-bold px-6 py-2 rounded-full hover:bg-lime-600 transition-all hover:text-white">STORE</a></li>
    <li><a routerLink="/ressources" class="text-black font-bold px-6 py-2 rounded-full hover:bg-lime-600 transition-all hover:text-white">RESSOURCES</a></li>
    <li><a routerLink="/stock" class="text-black font-bold px-6 py-2 rounded-full hover:bg-lime-600 transition-all hover:text-white">PRODUITS</a></li>
  </ul>
    <a href="#" class="bg-slate-100 text-black font-bold px-10 py-1 rounded-full transform transition-transform hover:bg-lime-600 transition-all group">
      <i class="fa fa-user text-black-900 text-2xl transition-all group-hover:text-white"></i>
    </a>   
</nav>
    
