<div class="w-full bg-slate-100 text-gray-900 rounded-3xl p-6 shadow-lg flex items-center border mx-auto">
    <i class="fa fa-rocket w-32 h-32 mr-6 text-black text-9xl"></i>
    <div class="flex-1">
        <h3 class="text-2xl font-bold text-gray-800">{{ ressource.nom }}</h3>
        <p class="text-black mt-2">Identifiant: <span class="font-medium">{{ ressource.id }}</span></p>
        <p class="text-black">Type de ressource: <span class="font-semibold">{{mapRessourceType(ressource.type) }}</span> </p>
        <p class="text-black">Compétences: 
            <strong class="text-black">{{ ressource.competences }}</strong>
        </p>
    </div>
    <div class="flex flex-col space-y-3 ml-6">
        <button class="bg-emerald-600 text-white font-medium px-6 py-2 rounded-lg hover:bg-emerald-800 transition-all shadow-lg" [routerLink]="['/', ressource.id, 'calendar']">Calendrier</button>
    </div>
</div>