<section class="p-8 flex justify-center">
  <div class="w-full max-w-4xl">
    <h1 class="text-3xl font-extrabold text-slate-100 text-center mb-6">Ressources</h1>
    <div class="flex justify-center gap-2 mt-2 mb-4">
      <button class="w-14 h-14 flex items-center justify-center bg-lime-500 rounded-full hover:bg-lime-600 transition-all shadow-lg group">
        <i class="fa fa-cloud-upload text-black-900 text-2xl transition-all group-hover:text-white"></i>
      </button>
    </div>
    <div class="flex flex-col items-center gap-6 w-full">
    @for (ressource of (this.ressources); track ressource.id) {
      <app-ressource-card [ressource]="ressource" class="w-4/5 mx-auto"></app-ressource-card>
    }
  </div>
  </div>
</section>
