<section class="p-8 flex justify-center">
    <div class="grid grid-cols-5 xl:gap-2 gap-4">
    <h1 class="mb-2 font-bold text-xl text-white">Planning de la ressource {{ ressourceId }}</h1>
      <ejs-schedule class=" col-span-4 rounded-xl border border-primary-purple" #scheduleObj cssClass='quick-info-template' height='660px' [selectedDate]="selectedDate$" [eventSettings]="eventSettings" (created)="onCreate()" (actionComplete)="onActionComplete($event)" (cellClick)="onCellClick($event)" (popupOpen)="onPopupOpen($event)">
        <!-- Header -->
               <ng-template #quickInfoTemplatesHeader let-data>
              <div class="quick-info-header">
                <div class="quick-info-header-content" [ngStyle]="getHeaderStyles(data)">
                   <div class="quick-info-title" [style.font-size]="'1.5rem'" style="font-weight: bold; text-align: center;">{{getHeaderTitle(data)}}</div>
                  <div class="duration-text" style="font-weight: bold; text-align: center;">{{getHeaderDetails(data)}}</div> 
                </div>
              </div>
            </ng-template> 
            <!-- Content -->
             <ng-template #quickInfoTemplatesContent let-data>
              <ng-container [ngTemplateOutlet]="data.elementType == 'cell' ? cellContent : eventContent"
              [ngTemplateOutletContext]="{data:data}"></ng-container>
            </ng-template>
            <ng-template #cellContent let-data="data">
              <div class="quick-info-content" [formGroup]="demandeAbsenceFrom" >
                <div class="e-cell-content">
                  <div class="quick-content-area">
                    <!-- <ejs-textbox #titleObj formControlName="name" id="title" placeholder="Titre" floatLabelType="Auto"></ejs-textbox> -->
                  </div>
                  <div class="quick-content-area">
                    <ejs-datetimepicker formControlName="start" id="StartDate" class="e-field" data-name="StartDate" placeholder="Date et heure" floatLabelType="Auto" format="dd/MM/yy" #startTime>
                    </ejs-datetimepicker>
                  </div>
                  <div class="quick-content-area">
                    <ejs-datetimepicker formControlName="end" id="EndDate" class="e-field" data-name="EndDate" placeholder="Date et heure" floatLabelType="Auto" format="dd/MM/yy" #endTime>
                    </ejs-datetimepicker>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #eventContent let-data="data">
              <div class="quick-info-content">
                <div class="event-content">
                  <div class="meeting-type-wrap font-bold" style="font-weight: bold; text-align: center;">
                    <label>Titre</label>:
                    <span>{{data.title}}</span>
                  </div>
                </div>
              </div>
            
            </ng-template>
            <!-- Footer -->
            <ng-template #quickInfoTemplatesFooter let-data>
              <ng-container [ngTemplateOutlet]="data.elementType == 'cell' ? cellFooter : eventFooter"
              [ngTemplateOutletContext]="{data:data}"></ng-container>
            </ng-template>
            <ng-template #cellFooter let-data="data">
              <div class="e-cell-footer">
                <button ejs-button id="add" cssClass="e-flat" [isPrimary]="true" (click)="demanderAbsence()" [disabled]="!demandeAbsenceFrom.valid" >Demander</button>
              </div>
            </ng-template>
            <ng-template #eventFooter let-data="data">
              <div class="e-event-footer">
              </div>
            </ng-template>
      </ejs-schedule>
    </div>
  </section>
  